
@{
    ViewBag.Title = "Bosproject";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/idiofalobi3.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Bosproject</span>
                            <span class="section-heading-lower">Idiofa Lobi</span>
                        </h2>
                        <p>
                            In de savannehoogvlakten van Bandundu, Congo, heeft Faja Lobi een bosproject opgestart. “Lobi” betekent “morgen” in het Lingala. De hoofddoelstelingen zijn: herbebossing van 1500ha rond de stad Idiofa en in de fragiele brongebieden van de valleien. Dit om verwoestijning en uitdroging van de savannes te voorkomen. Tegelijk anticiperen op de klimaatsverandering en de biodiversiteit (fauna & flora) beschermen. Een duurzame landbouweconomie opbouwen (agroforestry, piscicultuur, apicultuur, tuinbouw), zodat de zelfredzaamheid van de bevolking verhoogd wordt. Dit gebeurt onder de vorm van een coöperatieve.
                        </p>
                        <p class="mb-0">
                            Je leest alles over het project op <a href="http://congo.fajalobi.be">de site van Idiofa Lobi vzw</a>.
                            Lees ook het <a href="https://www.nieuwsblad.be/cnt/dmf20170616_02927060">artikel in Het Nieuwsblad</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

