
@{
    ViewBag.Title = "Contact";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        @*<span class="section-heading-upper">Come On In</span>*@
                        <span class="section-heading-lower">Faja Lobi</span>
                    </h2>
                    @*<ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Faja Lobi Vlaanderenstraat
                            <span class="ml-auto"></span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Vlaanderenstraat 2
                            <span class="ml-auto">9000 Gent</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">

                            <span class="ml-auto"></span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Faja Lobi Tarbotstraat
                            <span class="ml-auto"></span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tarbotstraat 31
                            <span class="ml-auto">9000 Gent</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">

                            <span class="ml-auto"></span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Telefoon:
                            <span class="ml-auto">+32 9 223 55 33</span>
                        </li>
                    </ul>*@
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            <p class="address mb-5">
                                <em>
                                    <strong>Faja Lobi Bed & Breakfast, Surinaams restaurant en café</strong>
                                    <br>
                                    Vlaanderenstraat 2, 9000 Gent
                                </em>
                            </p>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            <p class="address mb-5">
                                <em>
                                    <strong>Faja Lobi Bed & Breakfast</strong>
                                    <br>
                                    Tarbotstraat 31, 9000 Gent
                                </em>
                            </p>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            <strong>Telefoon:</strong>
                            <span class="ml-auto">+32 9 223 55 33</span>
                        </li>
                    </ul>
                    @*<p class="address mb-5">
                        <em>
                            <strong>1116 Orchard Street</strong>
                            <br>
                            Golden Valley, Minnesota
                        </em>
                    </p>
                    <p class="mb-0">
                        <small>
                            <em>Call Anytime</em>
                        </small>
                        <br>
                        (317) 585-8468
                    </p>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/faja6.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">Welkom</span>
                            <span class="section-heading-upper">Kom gerust eens langs!</span>
                        </h2>
                        <p>
                            Geniet van een Surinaamse dagschotel, koffie en thee met taart, een cocktail of gewoon goede nachtrust.
                        </p>
                        @*<p class="mb-0">
                            We guarantee that you will fall in
                            <em>lust</em>
                            with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                        </p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

