
@{
    ViewBag.Title = "Restaurant";
}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Surinaams</span>
                        <span class="section-heading-lower">Restaurant</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/fajaresto2.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Proef van diverse gerechten uit de Surinaamse huiskeuken in een huiselijke sfeer. We bieden niet alleen Surinaamse voor- en hoofdgerechten aan, maar ook snacks, soep, broodjes, ontbijt en taart. Voor de kinderen hebben we kleinere porties aan een lagere prijs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Hartelijke</span>
                        <span class="section-heading-lower">Hoofdgerechten</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/fajaresto1.jpg" alt="">
            <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Creoolse Kip met pomtayer (kippenbout met zoete, kruidige bruine saus), Cajun Beef/Stofoe Kau Metie (de Surinaamse stoverij), Fish New Orleans Style (gestoomde visfilet in een zachte zoete kokossaus), vegetarische pom (een typisch creoolse overnschotel met pomtayer), ...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Snacks &amp;</span>
                        <span class="section-heading-lower">Voorgerechten</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/fajaresto3.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Bakabana (gefrituurde plantin banaan in een bloemjasje, geserveerd met pinda saus), Soto Ayamsoep, Cassavesoep (Creoolse soep met cassavewortel en kokosmelk), Dahl, Kippenborrelhapjes (+/- 12 stuks overgoten met huisgemaakte saus), Caribbean Style Shrimps (6 stuks reuzengamba’s gehuld in een zachtpikant jasje), ...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Belegde</span>
                        <span class="section-heading-lower">Broodjes</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/fajaresto3.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Paramaribo (pomtayer, sla, tomaat, dressing), Veggie (avocado, rode biet, tomaat, sla, mayonaise, dressing), Massala (massala kip, sla, tomaat,dressing), Boetsie (reuze Scampi’s, look, limoen, sla, tomaat, dressing), Stepha (humus Heerlijke kikkererwtenpaté, sla, tomaat, dressing), ...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Ontbijt</span>
                        <span class="section-heading-lower">Buffet</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/fajaresto3.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        <em>Ontbijt:</em> 3 croissants, koffiekoeken of broodjes, ei (gebakken met spek of gekookt), yoghurt, stuk fruit, broodbeleg, één koffie of thee naar keuze, sinaasappelsap: 11,00 euro.<br />
                        <em>Ontbijt met bubbels:</em> glas Crémant d’Alsace + ontbijtbuffet: 15,00 euro.<br />
                        <em>Ontbijt à la carte:</em> stukprijs per item.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Heerlijke</span>
                        <span class="section-heading-lower">Desserts</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/fajaresto3.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Dagverse taart, pannenkoeken, ijscoupe (4 bolletjes, keuze uit passievrucht, yoghurtijs met bessen, banaan, vanille, chocolade, speculaas), fruitschaaltje met lichte rum, kaneel en slagroom.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

